## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Oo]ut/

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## Rider / VS Code
.idea/
*.sln.iml
.vscode/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
project.lock.json
project.fragment.lock.json
artifacts/

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.coverage
*.coveragexml
coverage*.json
coverage*.xml
TestResults/

## Publish output
*.[Pp]ublish.xml
*.azurePubxml
*.pubxml
*.publishproj
PublishScripts/

## Misc
*.tmp
*.log
*.tlog
*.cache
Thumbs.db
.DS_Store
